@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ### Primary
$LightCyan: hsl(193, 38%, 86%);
$NeonGreen: hsl(150, 100%, 66%);

// ### Neutral

$GrayishBlue: hsl(217, 19%, 38%);
$DarkGrayishBlue: hsl(217, 19%, 24%);
$DarkBlue: hsl(218, 23%, 16%);

body{
  font-family: 'Manrope', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  background-color: $DarkBlue;

  .main{
    background-color: $DarkGrayishBlue;
    margin:0 1rem ;
    padding: 2.5rem 1.5rem 0rem 1.5rem;
    text-align: center;
    border-radius: 10px;
    width: min(93%, 350px);

    @media (min-width:992px) {
    width: min(93%, 456px) !important ;
      
    }

    .main__heading{
      color: $NeonGreen;
      font-size: .6rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 100 !important;
      width: 100%;
    }

    .main__adviceText{
      color: $LightCyan;
      font-size: 1.5rem;
      margin: 1.5rem 0;
    }
    .divider1{
      width: 100%;
    }

    .main__diceContainer{
      all: unset;
      width:60px;
      height:60px;
      background-color: $NeonGreen;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      position: relative;
      top: 25px;
      cursor: pointer;
      
     
      @media (min-width:992px) {
        &:hover{
          box-shadow: 0px 0px 20px 10px hsla(150, 100%, 66%,0.4) !important;
        }
      }

      .dice{
       width: 22px;
      }
    }
  }

  .footer{
    margin: 2rem;
    .renderError{
      color: red;
      font-size: 1.5rem;
      text-align: center;

    }
  }
}
.hidden{
  display: none;
}

