@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ### Primary
$LightCyan: hsl(193, 38%, 86%);
$NeonGreen: hsl(150, 100%, 66%);

// ### Neutral

$GrayishBlue: hsl(217, 19%, 38%);
$DarkGrayishBlue: hsl(217, 19%, 24%);
$DarkBlue: hsl(218, 23%, 16%);

body{
  font-family: 'Manrope', sans-serif;

  .main{
    background-color: $DarkGrayishBlue;

    .main__heading{
      color: $NeonGreen;
      font-size: .6rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 100 !important;
      width: 100%;
      text-align: center;
    }
  }
}

